.test2 {
  display: flex;
  max-width: 500px;
}

.container {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.container .card {
  position: relative;
  width: 280px;
  height: 350px;
  margin: 20px auto;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  text-decoration: none;
}

.container .card .content {
  padding: 10px;
  text-align: center;
}

.image {
  position: absolute;
  top: -80px;
  right: -25px;
  font-size: 8em;
  pointer-events: none;
  opacity: 0.6;
  z-index: -1;
}

.container .card .content h3 {
  font-size: 2em;
  color: rgb(5, 121, 199);
  text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 2em;
  margin-bottom: 1em;
  letter-spacing: 2px;
  font-weight: 600;
  text-shadow: 1px 1px white, 1px 1px #fff, 1px 1px white, 1px 1px #fff,
    1px 1px white, 1px 1px #fff;
  z-index: 2;
  text-decoration: none;
}

.container .card .content p {
  font-size: 1.3em;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-decoration: none;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: rgb(5, 121, 199);
  color: #fff;
  transition: 800ms;
}

.tituleMinMax {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

h5 {
  font-size: 1.6em;
  color: rgb(3, 59, 122);
  font-weight: 500;
  margin-right: 10px;
  margin-left: 10px;
  text-shadow: 1px 1px white, 1px 1px #fff, 1px 1px white, 1px 1px #fff,
    1px 1px white, 1px 1px #fff;
}

.contenidoMinMax {
  display: flex;
  justify-content: space-between;
  margin: 2px 23px;
}

@media screen and (max-width: 600px) {
  .container .card {
    width: 400;
  }
}
